@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
--cp: #000000;
--cs: #2aaa1e;
--ct: #66D9E8;
--cf: #FFFFFF;
--cte: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--cf);
  text-align: center;
  position: relative;
  height: 80vh;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

a {
  text-decoration: none;
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.story {
    background-color: white;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

.scrollable-container {
  width: 90%;
  height: 40vh;
  overflow-x: scroll;
  /* flex-direction: row; */
  margin-block: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5%;
}

.scrollable-container-big {
  width: 90%;
  height: 50vh;
  overflow-y: auto;
  flex-direction: row;
  margin-block: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5%;
}

.scrollable-container img {
  width: 95%;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.fixed-container img {
  max-width: 90%;
  height: auto;
}

.unselected-image {
  border: 1px solid rgb(121, 121, 121);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  max-width: 80vw;
  border-radius: 5vw;
  margin-inline: 5px;
}

.selected-image {
  border: 2px solid rgb(30, 30, 30);
  opacity: 1;
  max-width: 80vw;
  border-radius: 5vw;
  margin-inline: 5px;
}

.image-text-story {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 8vw;
  font-family: "Nunito";
  text-shadow: 0px 0px 5px #000000;
  color: #ffffff;
  white-space: nowrap;
}

.main-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6vh
}

.image-with-text-container {
  position: relative;
  display: flex;
}

.card-margin {
  margin-bottom: 1vh;
}

.image-text {
  position: relative;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 10vw;
  font-family: "Nunito";
  text-shadow: 0px 0px 3px #000000;
  color: #ffffff;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.navigation-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;
  padding: 5px;
  z-index: 9999;
}

.custom-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button-image {
  max-width: auto;
  height: 2.5rem;
}

.custom-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 170%;
  font-family: "Nunito";
  text-shadow: 0px 0px 3px #ffffff;
  color: #000;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang-scrollable-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px;
  padding-top: 20px;
}

.lang-container {
  position: relative;
  display: grid;
  padding-inline: 10px;
  margin: 10px;
}

.lang-scrollable-container img {
  opacity: 1;
  width: 20%;
  align-items: flex-start;
  padding: 5px;
}

.lang-image-text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 1.2rem;
  color: #000000;
}

.centered-bottom-button {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-button {
  top: 85%;
}

.credits-link {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-field {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: "Nunito";
  outline: none;
  transition: border-color 0.3s ease;
}

.text-field:focus {
  border-color: #007bff;
}

.story-box {
  width: 95vw;
  height: 75vh;
  overflow-y: auto;
  flex-direction: column;
  margin: 10px;
  text-align: left;
  /* text-align: justify;
  text-justify:distribute; */
  font-family: "Nunito";
}

.credits-box {
  width: 95vw;
  height: 70vh;
  overflow-y: auto;
  flex-direction: column;
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Nunito";
}

.story-scrollable-container {
  width: 95vw;
  height: 85vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid rgb(114, 114, 114);
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 180%;
  text-align: center;
  width: 2rem;
  height: 13.5rem;
}

.font-size-content {
  bottom: 135%;
  height: 7rem;
}

.flag-image {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.flag-image-border {
  border-radius: 50%;
  border: 2px groove rgb(255, 255, 255);
}

.flag-selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.flag-unselected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.5;
}

.show {
  display: block;
}

.footer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.left,
.center,
.right {
  flex-basis: 33.33%; /* Distribute the space evenly */
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: rgb(162, 162, 162, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  margin-left: -3vw;
}

.navbar-parent {
  position: relative;
  z-index: 999;
}

.navbar-element-left {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar-element {
  float: center;
  display: inline;
  text-align: center;
  text-decoration: none;
  margin-inline: 3vh;
}

.navbar-element-right {
  float: right;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar .icon {
  display: none;
}

.menu-image {
  border: 2px solid lightblue;
  opacity: 1;
  width: 100%;
  border-radius: 10vw;
  margin-block: 5px;
}

.contact-text-field {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: "Nunito";
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
  width: 80vw;
}

textarea {
  border-radius: 6vw ;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 80vw;
  font-size: 16px;
  font-family: "Nunito";
}

.counter-container {
  display: flex;
  margin-inline: 5vw;
  margin-top: -2vw;
}

#counter {
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 10vw;
}

.left-counter {
  margin-right: 5px;
}

.credits {
  margin: 2vh;
}

#storyText {
  font-size: 20px;
  padding: 2.5vw;
}

.font-size-selector img {
  cursor: pointer;
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle-font {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid rgb(114, 114, 114);
}

.dropdown-content-font {
  display: none;
  position: absolute;
  z-index: 9999;
  text-align: center;
  width: 2rem;
  height: 13.5rem;
  margin-left: 0.1rem;
}

.cards-container {
  width: 90%;
  overflow-x: scroll;
}

.cards-scrollable {
  display: flex;
  padding-block: 1vh;
}

.label-margin {
  margin-top: 4vh;
  margin-bottom: 1.5vh;
}

.page-title {
  margin-block: 5vh;
}

.top-margin {
  margin-top: 15vh;
}

#fade-image {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 9999;
}

.overlay-hide {
  display: none;
}

.welcome-text {
  font-size: 32px;
}

.fade-out {
  animation: fade-out 3s ease-in-out forwards;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}