@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
--cp: #000000;
--cs: #2aaa1e;
--ct: #66D9E8;
--cf: #FFFFFF;
--cte: #333333;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--cf);
  text-align: center;
  position: relative;
  height: 80vh;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

a {
  text-decoration: none;
}

.text-checkbox {
display: block;
padding-left: 2rem;
text-indent: -15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loading{
    background-color: rgba(0, 0, 0, 0.5);
}

.story {
    background-color: white;
}

#loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

.scrollable-container {
  width: 90%;
  height: 40vh;
  overflow-y: auto;
  flex-direction: column;
  margin-block: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5%;
}

.scrollable-container-big {
  width: 90%;
  height: 50vh;
  overflow-y: auto;
  flex-direction: column;
  margin-block: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5%;
}

.scrollable-container img {
  width: 95%;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.fixed-container img {
  max-width: 90%;
  height: auto;
}

.unselected-image {
  border: 1px solid rgb(121, 121, 121);
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
  max-width: 95%;
  border-radius: 5vw;
  margin-block: 5px;
}

.selected-image {
  border: 1px solid rgb(30, 30, 30);
  opacity: 1;
  max-width: 95%;
  border-radius: 5vw;
  margin-block: 5px;
}

.image-text-story {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  font-size: 8vw;
  font-family: "Nunito";
  text-shadow: 0px 0px 5px #000000;
  color: #ffffff;
  white-space: nowrap;
}

.main-menu-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 6vh
}

.main-menu-container img {
  width: 80%;
  height: auto;
  max-width: 90%;
}

.image-text-container {
  position: relative;
  display: inline-block;
}

.image-text {
  position: relative;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 10vw;
  font-family: "Nunito";
  text-shadow: 0px 0px 3px #000000;
  color: #ffffff;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.navigation-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;
  padding: 5px;
  z-index: 9999;
}

.custom-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-button-image {
  max-width: auto;
  height: 3rem;
}

.custom-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 200%;
  font-family: "Nunito";
  text-shadow: 0px 0px 3px #ffffff;
  color: #000;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang-scrollable-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px;
  padding-top: 20px;
}

.lang-container {
  position: relative;
  display: grid;
  padding-inline: 10px;
  margin: 10px;
}

.lang-scrollable-container img {
  opacity: 1;
  width: 20%;
  align-items: flex-start;
  padding: 5px;
}

.lang-image-text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 1.2rem;
  color: #000000;
}

.centered-bottom-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-field {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: "Nunito";
  outline: none;
  transition: border-color 0.3s ease;
  margin: 10px;
}

.text-field:focus {
  border-color: #007bff;
}

.story-box {
  width: 95vw;
  height: 75vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Nunito";
}

.story-scrollable-container {
  width: 95vw;
  height: 85vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #8e8e8e;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid rgb(114, 114, 114);
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 9999;
  bottom: 140%;
  text-align: center;
  width: 2rem;
  height: 13.5rem;
  margin-left: 0.1rem;
}

.flag-image {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.flag-image-border {
  border-radius: 50%;
  border: 1px groove rgb(255, 255, 255);
}

.flag-selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
}

.flag-unselected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.5;
}

.show {
  display: block;
}

.footer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.left,
.center,
.right {
  flex-basis: 33.33%; /* Distribute the space evenly */
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: rgb(162, 162, 162, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.navbar-parent {
  position: relative;
  z-index: 999;
}

/* Style the links inside the navigation bar */
.navbar-element-left {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar-element {
  float: center;
  display: inline;
  text-align: center;
  text-decoration: none;
  margin-inline: 2vh;
}

.navbar .icon {
  display: none;
}

.menu-image {
  border: 2px solid lightblue;
  opacity: 1;
  width: 100%;
  border-radius: 10vw;
  margin-block: 5px;
}