.container {
  width: 100%;
  overflow-x: scroll;
}

.scrollable {
  display: flex;
}

.scrollable img {
  width: 300px; /* Adjust the width to fit your images */
  height: auto; /* Adjust the height proportionally if needed */
  margin-right: 10px; /* Adjust the spacing between images */
}