.myDiv {
  background-color: #ccc;
}

/* iPhone Styles */
@media only screen and (max-device-width: 414px) {
  .myDiv {
    width: 200px;
    height: 200px;
  }
}

/* iPad Styles */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .myDiv {
    width: 400px;
    height: 900px;
  }
}
